
<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus nav-pf-persistent-secondary">
    <ul class="list-group">
        <li class="list-group-item">
            <a routerLink="explore" routerLinkActive="active">
                <span class="fa fa-dashboard" data-toggle="tooltip" title="Explore"></span>
                <span class="list-group-item-value">Explore</span>
            </a>
        </li>
        <li class="list-group-item">
            <a routerLink="develop" routerLinkActive="active">
                <span class="fa fa-shield" data-toggle="tooltip" title="Develop"></span>
                <span class="list-group-item-value">Develop</span>

            </a>
        </li>
        <li class="list-group-item">
            <a routerLink="manage" routerLinkActive="active">
                <span class="fa fa-space-shuttle" data-toggle="tooltip" title="Manage"></span>
                <span class="list-group-item-value">Manage</span>
            </a>
        </li>
        <li class="list-group-item">
            <a routerLink="reporting" routerLinkActive="active">
                <span class="fa fa-paper-plane" data-toggle="tooltip" title="Reporting"></span>
                <span class="list-group-item-value">Reporting</span>
            </a>
        </li>
        <li class="list-group-item">
            <a routerLink="admin" routerLinkActive="active">
                <span class="fa fa-graduation-cap" data-toggle="tooltip" title="Admin"></span>
                <span class="list-group-item-value">Admin</span>
            </a>
        </li>
        <li class="list-group-item">
            <a routerLink="learn" routerLinkActive="active">
                <span class="fa fa-gamepad" data-toggle="tooltip" title="Learn"></span>
                <span class="list-group-item-value">Learn</span>
            </a>
        </li>
        <li class="list-group-item">
            <a routerLink="support" routerLinkActive="active">
                <span class="fa fa-phone" data-toggle="tooltip" title="Support"></span>
                <span class="list-group-item-value">Support</span>
            </a>
        </li>

        <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block">
            <a routerLink="/login" routerLinkActive="active">
                <span class="pficon pficon-user" data-toggle="tooltip" title="" data-original-title="User"></span>
                <span class="list-group-item-value">User</span>
            </a>
            <div id="user-secondary" class="nav-pf-secondary-nav">
                <div class="nav-item-pf-header">
                    <a href="#0" class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
                    <span>User</span>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#0">
                            <span class="list-group-item-value">Preferences</span>
                        </a>
                    </li>

                    <li class="list-group-item">
                        <a href="#0">
                            <span class="list-group-item-value">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="list-group-item secondary-nav-item-pf mobile-nav-item-pf visible-xs-block" data-target="#amet-secondary">
            <a href="#0">
                <span class="pficon pficon-help" data-toggle="tooltip" title="" data-original-title="Help"></span>
                <span class="list-group-item-value">Help</span>
            </a>
            <div id="help-secondary" class="nav-pf-secondary-nav">
                <div class="nav-item-pf-header">
                    <a href="#0" class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
                    <span>Help</span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#0">
                            <span class="list-group-item-value">Help</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#0">
                            <span class="list-group-item-value">About</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

    </ul>

</div>