<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" id="logo" title="open interface project" href="/">PatternFly | open interface project</a>
      </div>
      <div class="navbar-collapse navbar-collapse-pf-site collapse">

        <ul id="menu-primary" class="nav navbar-nav navbar-right">
            <li>
                <a routerLink="/login">Sign In</a>
            </li>
            <li>
                <a routerLink="/dashboard/explore">Sign Up</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="jumbotron">
  <div class="container-fluid">
    <div class="splash">
      <div class="content">
        <img src="assets/img/patternfly-orb.svg" alt="PatternFly logo" class="wow fadeInDown" />
        <h1 class="wow fadeIn" data-wow-delay="750ms">
          Container Play
        </h1>
        <p class="description wow fadeIn" data-wow-delay="1250ms">
          A place to deploy apps real quick with minimal configuration.<br/>
          <span class="text-muted">Quick - Efficient - Reliable</span>
        </p>
        <p class="version wow fadeIn" data-wow-delay="1500ms">Version 1.0</p>
      </div>
    </div>
  </div>
  <a class="arrow wow fadeIn" (click)="scroll(target)" data-wow-delay="2000ms" role="button">
    <i class="fa fa-angle-down"></i>
  </a>
</div>
<div class="about" #target>
  <div class="container-fluid">
    <h2>
      About PatternFly
    </h2>
    <p>PatternFly is a community project that promotes design commonality and improved user experience. Its offerings include
      open source code, patterns, style guides, and an active community that helps support it all.</p>
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/login">
          <img src="assets/img/icon-code.svg" alt="Code icon" />
        </a>
        <h3>Code</h3>
        <p>
          <a href="/login">Download</a>
        </p>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/login">
          <img src="assets/img/icon-library.svg" alt="Pattern Library icon" />
        </a>
        <h3>Pattern Library</h3>
        <p>
          <a href="/login">View Patterns</a>
        </p>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/login">
          <img src="assets/img/icon-community.svg" alt="Community icon" />
        </a>
        <h3>Community</h3>
        <p>
          <a href="/login">Get Involved</a>
        </p>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <a href="/login">
          <img src="assets/img/icon-styles.svg" alt="Styles icon" />
        </a>
        <h3>Styles</h3>
        <p>
          <a href="/login">View Styles</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="whats-new">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>
          What's New
        </h2>
        <ul id="whats-new" class="updates"></ul>
        <!--
<ul class="updates">


<li>
<h3>August 11, 2016</h3>
<ul>
<li>Check out our new <a href="/get-started/contribute">Contribution Guide</a></li>
</ul>

</li>

<li>
<h3>August 5, 2016</h3>
<ul>
<li><a href="/pattern-library/data-visualization/pie-chart">Pie Chart</a> Overview and Design tab updated with documentation.</li>
</ul>
<ul>
<li><a href="/pattern-library/content-views/list-view">List View</a> Updated with live full page example.</li>
</ul>
<ul>
<li><a href="/pattern-library/data-visualization/heat-map/#/_code">Heat Map</a> AngularJS updated to include example of hover on multiple blocks.</li>
</ul>

</li>

<li>
<h3>August 5, 2016</h3>
<ul>
<li>Documentation regarding “No Data Available” added to the <a href="/pattern-library/dashboard/dashboard-card/#/_design">Dashboard Card</a> pattern.</li>
</ul>
<ul>
<li><a href="/pattern-library/communication/about-modal/#_design">About Modal pattern</a> updated with specifications regarding modal location on a screen.</li>
</ul>
<ul>
<li><a href="/community/monthly-community-meeting">Community page</a> updated with July’s meeting deck and recording.</li>
</ul>

</li>

</ul>
<p><a href="/whats-new/">View all</a></p>
-->
      </div>
      <div class="col-md-6">
        <h2>Featured Content</h2>
        <div id="carousel-layouts" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Controls for slides -->
          <div class="carousel-header">
            <h3 id="caption"></h3>
            <div class="controls">
              <a id="learn" class="learn" href="#">Learn More</a>
              <a class="previous" title="Previous" role="button">
                <span class="fa fa-angle-left"></span>
              </a>
              <a class="next" title="Next" role="button">
                <span class="fa fa-angle-right"></span>
              </a>
            </div>
          </div>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <a href="/pattern-library/dashboard/dashboard-layout/">
                <img alt="Dashboard Layout" style="border:1px solid #bbbbbb;" src="assets/img/layouts-dashboard.png" />
              </a>
            </div>
            <div class="item">
              <a href="/pattern-library/content-views/list-view/">
                <img alt="List View" style="border:1px solid #bbbbbb;" src="assets/img/list-view-example-slide.png" />
              </a>
            </div>
            <div class="item">
              <a href="/pattern-library/communication/notification-drawer/">
                <img alt="Notification Drawer" style="border:1px solid #bbbbbb;" src="assets/img/Patternfly_ToastNotificationTray_Hover-slide.jpg"
                />
              </a>
            </div>
            <div class="item">
              <a href="/pattern-library/navigation/vertical-navigation/">
                <img alt="Vertical Navigation" style="border:1px solid #bbbbbb;" src="assets/img/vertical-nav-with-secondary-slide.png"
                />
              </a>
            </div>
          </div>
          <!-- Indicators
<ol class="carousel-indicators">
<li data-target="#carousel-layouts" data-slide-to="0" class="active"></li>
<li data-target="#carousel-layouts" data-slide-to="1"></li>
<li data-target="#carousel-layouts" data-slide-to="2"></li>
<li data-target="#carousel-layouts" data-slide-to="3"></li>
<li data-target="#carousel-layouts" data-slide-to="4"></li>
</ol>
-->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
</div>
<footer class="site-footer">
  <div class="row">
    <div class="col-md-9">
      <p>
        <a href="http://www.redhat.com" id="logo-redhat" target="_blank">Red Hat</a>
        PatternFly is a
        <a href="http://www.redhat.com" target="_blank">Red Hat</a> sponsored project.
        <br> Except where otherwise noted, content on this site is licensed under a
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"> Creative Commons Attribution 4.0 International license.</a>
      </p>
    </div>
    <div class="col-md-3">
      <ul class="social">

        <li>
          <a href="https://github.com/patternfly/patternfly" target="_blank">
            <span class="fa fa-github-square"></span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/patternfly_des" target="_blank">
            <span class="fa fa-twitter-square"></span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/groups/PatternFlyCommunity/" target="_blank">
            <span class="fa fa-facebook-square"></span>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/communities/117224483835467139511" target="_blank">
            <span class="fa fa-google-plus-square"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
