
<div class="slimScrollDiv">
    <h6>Enter container Details below</h6>
    <ul class="choose-skin-1">
        <li>
            <form name="form-container" id="form-container" [formGroup]="containerForm" novalidate>
                <div class="form-group">
                    <label for="ContainerName">Name</label>
                    <input type="text" class="form-control" name="containerName" id="containerName" formControlName="containerName" aria-describedby="Container Name" placeholder="Enter Name">
                    <small id="ContainerNameHelp" class="form-text text-muted">Identifies the resources created for this application.</small>
                </div>
                <div class="form-group">
                    <label for="gitRepoURL">Git Repository URL</label>
                    <input type="text" class="form-control" name="gitRepoURL" id="gitRepoURL" formControlName="gitRepoURL" aria-describedby="Git Repo URL" placeholder="Enter Git Repository URL">
                    <small id="ContainerNameHelp" class="form-text text-muted">Sample repository for php: ?</small>
                </div>
                <div class="form-group">
                    <label for="gitRepoReference">Git Reference</label>
                    <input type="text" class="form-control" name="gitRepoReference" id="sourceSecret" formControlName="sourceSecret" aria-describedby="Git Repo Reference"
                        placeholder="master">
                    <small id="gitRepoReferenceHelp" class="form-text text-muted">Optional branch, tag, or commit.</small>
                </div>
                <div class="form-group">
                    <label for="contextDir">Context Dir</label>
                    <input type="text" class="form-control" name="sourceSecret" id="contextDir" formControlName="sourceSecret" aria-describedby="Context Dir" placeholder="/">
                    <small id="contextDirHelp" class="form-text text-muted">Optional subdirectory for the application source code, used as the context directory
                        for the build.</small>
                </div>
                <div class="form-group">
                    <label for="sourceSecret">Source Secret</label>
                    <input type="text" class="form-control" name="sourceSecret" id="sourceSecret" formControlName="sourceSecret" aria-describedby="Source Secret" placeholder="Secret Name">
                    <small id="sourceSecretHelp" class="form-text text-muted">Secret with credentials for pulling your source code. </small>
                </div>
                <!-- <div class="form-group">
                    <button type="button" class="btn btn-secondary" (click)="showData(containerForm)">Submit</button>
                </div> -->
            </form>
        </li>
    </ul>
</div>
