<div class="row">
    <div class="col-sm-12">
        <h4 class="actions-label">Develop</h4>
        <hr/>
    </div>
</div>


<div class="row row-cards-pf">
    <div class="col-xs-12">
        <div class="card-pf">
            <div class="card-pf-heading">
                <div class="menu-buttons">
                    <button type="button" class="btn btn-default" (click)="openModal(openProjectModal); openProjects();">
                        <i class="fa fa-folder-open"></i> Open</button>
                    <button type="button" class="btn btn-default" (click)="clearStage()">
                        <i class="fa fa-times"></i> Close</button>
                    <button type="button" class="btn btn-default" (click)="openModal(saveProjectModal); checkForOldProject()">
                        <i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-default" (click)="openModal(saveProjectModal)">
                        <i class="fa fa-file"></i> SaveAs</button>
                </div>
            </div>

            <div class="card-pf-body">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="develop-app-wrap">
                            <div class="tools-sidebar">
                
                                <accordion [closeOthers]="true">
                                    <accordion-group heading="Languages" [isOpen]="true">
                                
                                        <div class="images-block">
                                
                                            <ul class="list-group product-category-all">
                                                <li class="list-group-item" *ngFor="let language of languages">
                                                    <div class="img-item" 
                                                        [attr.data-type]="language.type"
                                                        [innerHTML]="language.icon"
                                                        [dndDraggable]="language">
                                                    </div>
                                                    {{ language.name }}
                                                </li>
                                            </ul>
                                        </div>
                                    </accordion-group>
                                    <accordion-group heading="Databases">
                                        <div class="images-block">
                                            <ul class="list-group product-category-all">
                                                <li class="list-group-item" *ngFor="let database of databases">
                                                    <div class="img-item" [attr.data-type]="database.type" [innerHTML]="database.icon" [dndDraggable]="database"></div>
                                                    {{ database.name }}
                                                </li>
                                            </ul>
                                        </div>
                                    </accordion-group>
                                
                                    <accordion-group heading="Middleware">
                                        <div class="images-block">
                                            <ul class="list-group product-category-all">
                                                <li class="list-group-item" *ngFor="let middleware of middlewares">
                                                    <div class="img-item" [attr.data-type]="middleware.type" [innerHTML]="middleware.icon" [dndDraggable]="middleware"></div>
                                                    {{ middleware.name }}
                                                </li>
                                            </ul>
                                        </div>
                                    </accordion-group>
                                
                                    <accordion-group heading="JBOSS">
                                        <div class="images-block">
                                            <ul class="list-group product-category-all">
                                                <li class="list-group-item" *ngFor="let jbos of jboss">
                                                    <div class="img-item" [attr.data-type]="jbos.type" [innerHTML]="jbos.icon" [dndDraggable]="jbos"></div>
                                                    {{ jbos.name }}
                                                </li>
                                            </ul>
                                        </div>
                                    </accordion-group>
                                
                                    <accordion-group heading="OpenShift">
                                        <div class="images-block">
                                            <ul class="list-group product-category-all">
                                                <li class="list-group-item" *ngFor="let openshift of openshifts">
                                                    <div class="img-item" [attr.data-type]="openshift.type" [innerHTML]="openshift.icon" [dndDraggable]="openshift"></div>
                                                    {{ openshift.name }}
                                                </li>
                                            </ul>
                                        </div>
                                    </accordion-group>
                                </accordion>
                
                                <!-- <button class="btn btn-warning btn-block" [disabled]="graphicsLine.length == 0" (click)="clear('lines');">Clear lines</button>
                                <button class="btn btn-warning btn-block" [disabled]="graphicsIcon.length == 0" (click)="clear('icons')">Clear icons</button>
                                <button class="btn btn-warning btn-block" [disabled]="graphicsLine.length == 0 && graphicsIcon.length == 0" (click)="clear('all')">Clear all</button>
                                <button class="btn btn-warning btn-block" [disabled]="selectedItem == null && selectedLine == null" (click)="deleteItemConfirm()">Remove Selected Item</button> -->

                            </div>
                            
                            <div class="develop-app">
                
                                <div class="develop-action" #wrapper dndDropzone
                                    (click)="selectIcon($event, null)"
                                    (dndDragover)="onDragover($event)"
                                    (dndDrop)="onDrop($event)">
                
                                    <svg height="210" width="500" class="svg-line-wrap">
                                        <line class="connect-line"
                                            *ngFor="let line of graphicsLine"
                                            (click)="selectLine($event, line)"
                                            [ngClass]="{'selected-line': line == selectedLine}"
                                            [attr.x1]="line.x1" [attr.y1] = "line.y1"
                                            [attr.x2]="line.x2" [attr.y2] = "line.y2"
                                            />
                                    </svg>
                
                                    <div class="img-item-in"
                                        (click)="selectIcon($event, icon)"
                                        [ngClass]="{'selected-item': icon == selectedItem}"
                                        [dndDraggable]="icon"
                                        (dndStart)="onDragStart(icon, $event)"
                                        (dndEnd)="onDragEnd(icon, $event)"
                                        (dndMoved)="onDraggableMoved(icon, $event)"
                                        [dndEffectAllowed]="icon.effectAllowed"
                                        [ngStyle]="{'top.px': icon.posY, 'left.px': icon.posX}"
                                        *ngFor="let icon of graphicsIcon">
                
                                        <div [innerHTML]="icon.icon"></div>
                                        <h5 *ngIf="icon.form.container != null && icon.form.container.containerName != null">{{icon.form.container.containerName}}</h5>
                                        <div class="item-img-blocker" dndHandle>
                                        </div>
                                        <div class="item-actions-list">
                                            <a href="" class="item-action" (click)="deleteItemConfirm()"><i class="fa fa-trash"></i></a>
                                            <a href="" class="item-action" (click)="openSidebar()"><i class="fa fa-info-circle"></i></a>
                                            <a href="" class="item-action"><i class="fa fa-check"></i></a>
                                        </div>
                
                                        <div class="droppable-for-lines" [hidden]="isLineDropVisible" dndDropzone
                                            (dndDragover)="onDragoverLines($event)"
                                            (dndDrop)="onDropLine(icon, $event)">
                
                                        </div>
                
                                        <div class="icon-circle"
                                            [dndDraggable]="line-dragger"
                                            (dndStart)="onDragStartLine(icon, $event)"
                                            (dndEnd)="onDragEndLine(icon, $event)"
                                            [dndEffectAllowed]="icon.effectAllowed">
                                        </div>
                
                                    </div>
                                </div>
                
                            </div>
                        </div>
                
                
                    </div>
                </div>
                
                        
            </div>
        </div>

    </div>
</div>


<aside id="rightsidebar" class="right-sidebar" [ngClass]="{'open': sidebarOpen == true}">
    <!-- <div class="scroller scroller-left" (click)="sideBarNavScrollLeft()">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </div>
    <div class="scroller scroller-right" (click)="sideBarNavScrollRight()">
        <i class="glyphicon glyphicon-chevron-right"></i>
    </div> -->
    <tabset #sidebarFormTabs [ngClass]="{'scroll-right': sidebarScrollRight == true}">

        <!-- start container tab -->
        <tab heading="Container">
            <app-container-form *ngIf="selectedItem != null"
                (onFormDataChange)="formDataChange('container', $event)"
                [formData]="selectedItem.form.container">
            </app-container-form>
        </tab>
        <!-- end container tab -->

        <!-- start BuildConfig tab -->
        <tab heading="BuildConfig">
            <app-build-config *ngIf="selectedItem != null"
                (onFormDataChange)="formDataChange('buildconfig', $event)"
                [formData]="selectedItem.form.buildconfig">
            </app-build-config>
        </tab>
        <!-- end BuildConfig tab -->
        
        <!-- start Labels tab -->
        <tab heading="Labels">
            <app-labels *ngIf="selectedItem != null"
                (onFormDataChange)="formDataChange('labels', $event)"
                [formData]="selectedItem.form.labels">
            </app-labels>
        </tab>
        <!-- end Labels tab -->

        <!-- start DeployConfig tab -->
        <tab heading="DeployConfig">
            <app-deploy-config *ngIf="selectedItem != null"
                (onFormDataChange)="formDataChange('deployconfig', $event)"
                [formData]="selectedItem.form.deployconfig">
            </app-deploy-config>
        </tab>
        <!-- end DeployConfig tab -->

        <!-- start Scaling tab -->
        <tab heading="Scaling">
            <app-scaling *ngIf="selectedItem != null"
                (onFormDataChange)="formDataChange('scaling', $event)"
                [formData]="selectedItem.form.scaling">
            </app-scaling>
        </tab>
        <!-- end Scaling tab -->


        <!-- start ResLimits tab -->
        <tab heading="ResLimits">
            <app-res-limit *ngIf="selectedItem != null"
                (onFormDataChange)="formDataChange('reslimit', $event)"
                [formData]="selectedItem.form.reslimit">
            </app-res-limit>
        </tab>
        <!-- end Scaling tab -->
    </tabset>

</aside>


<ng-template #saveProjectModal>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()">&times;</button>
        <h4 class="modal-title">Save Project</h4>
    </div>
    <div class="modal-body">
        <div id="save-project-msg"></div>
        <form name="form-save-project" id="form-save-project" [formGroup]="saveProjectForm">
            <div class="form-group">
                <label for="projectName">Project Name</label>
                <input type="text" class="form-control" name="projectName" id="projectName" formControlName="projectName">
            </div>
            <div class="form-group">
                <label for="projectDescription">Project Description</label>
                <input type="text" class="form-control" name="projectDescription" id="projectDescription" formControlName="projectDescription">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="spinner pull-left" [hidden]="!saveProjectProgress"></div>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        <button type="button" [disabled]="!saveProjectForm.valid || saveProjectProgress == true" (click)="saveProject(saveProjectForm.value)" class="btn btn-primary">Save</button>
    </div>
</ng-template>


<ng-template #openProjectModal>

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="modalRef.hide()">&times;</button>
            <h4 class="modal-title">Open Project</h4>
        </div>
        <div class="modal-body">
            <ul class="list-group project-list">
                <li *ngFor="let project of allProjects">
                    <a class="list-group-item" (click)="renderProject(project);">
                        {{ project.name }}<br/>
                        <span class="small-block">{{ project.description }}</span><br/>
                        <span class="small-block">Last Modified: {{ project.updatedAt | date: 'dd/MM/yyyy' }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="spinner pull-left" [hidden]="!openProjectProgress"></div>
            <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
        </div>
    </div>

</ng-template>

<pfng-toast-notification-list [notifications]="notifications"></pfng-toast-notification-list>