
.dropOverActive {
    border: dashed 1px black;
    background-color: lightgreen;
}

.develop-action {
    width: 100%;
    height: 500px;
    position: relative;
}

.img-item-in {
    position: absolute;
    margin: 0px;
    background: #FFF;
    padding: 5px;
    border: 1px solid #bac0ca;
    border-radius: 3px;
    cursor: default;
    

    .item-img-blocker {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        cursor: move;
    }
}

.img-item-in.dndDraggingSource {
    opacity: .1;
}

.img-item-in h5 {
    margin: 0px;
    position: absolute;
    bottom: -15px;
    text-align: center;
    width: 200px;
    left: -75px;
    z-index: -1;
    font-size: 10px;
}

.img-item-in.selected-item {
    border: 1px dashed black;

    .item-actions-list {
        display: block;
    }
}

.item-actions-list {
    position: absolute;
    top: -23px;
    width: 100%;
    left: 0px;
    display: none;
}

.item-actions-list .item-action {
    display: inline-block;
    width: 29%;
    text-align: center;
}

.svg-line-wrap {
    width: 100%;
    height: 100%;
}

.icon-circle {
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
    border: 1px solid #000;
    opacity: .3;
    z-index: 2;
    cursor: crosshair;
}

.droppable-for-lines {
    background: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.img-item-in.dndDragging {
    .droppable-for-lines {
        display: none;
    }
}

line.connect-line.selected-line {
    stroke-dasharray: 5;
}

.project-list {
    margin: -15px -15px 0px -15px;
    list-style: none;
    height: 325px;
    overflow: auto;
}

.project-list li a {
    font-weight: bold;
    cursor: pointer;
}

.project-list li a span {
    font-weight: lighter;
}

