<div class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <header class="login-pf-page-header">
          <img class="login-pf-brand" src="assets/img/Logo_Horizontal_Reversed.svg" alt=" logo" />
          <p>
            Welcome to Container Play
          </p>
        </header>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="card-pf">
              <header class="login-pf-header">
                <select class="selectpicker">
                  <option>English</option>
                  <option>French</option>
                  <option>Italian</option>
                </select>
                <h1>Log In to Your Account</h1>
              </header>
              <form>
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control  input-lg" id="exampleInputEmail1" placeholder="Email address">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="exampleInputPassword1">Password
                  </label>
                  <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group login-pf-settings">

                  <a href="/landing">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="validateAndLogin()">Log In</button>
              </form>
              <p class="login-pf-signup">Need an account?
                <a routerLink="/landing">Sign up</a>
              </p>
            </div>
            <!-- card -->
            <footer class="login-pf-page-footer">
              <ul class="login-pf-page-footer-links list-unstyled">
                <li>
                  <a class="login-pf-page-footer-link" routerLink="/landing">Terms of Use</a>
                </li>
                <li>
                  <a class="login-pf-page-footer-link" routerLink="/landing">Help</a>
                </li>
                <li>
                  <a class="login-pf-page-footer-link" routerLink="/landing">Privacy Policy</a>
                </li>
              </ul>
            </footer>
          </div>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <!-- col -->
    </div>
    <!-- login-pf-page -->
  </div>
  <!--row-->
</div>
<!--container-->
