<div class="row">
  <div class="col-sm-12">
    <h4 class="actions-label">Admin</h4>
    <hr/>
  </div>
</div>

<accordion [closeOthers]="true">
    <accordion-group heading="Languages" [isOpen]="true">

        <div class="images-block">

            <ul class="list-group product-category-all">
                <li class="list-group-item" *ngFor="let language of languages">
                    <div class="switch-module">
                        <switch 
                        [status]="language.status"
                        [onText]="switchOptions.onText"
                        [offText]="switchOptions.offText"
                        [onColor]="switchOptions.onColor"
                        [offColor]="switchOptions.offColor"
                        [size]="switchOptions.size"
                        (statusChange)="onFlagChange($event)"
                        ></switch>
                    </div>
                    <div class="img-item" [attr.data-type]="language.type" [innerHTML]="language.icon"></div>
                    {{ language.name }}
                </li>
            </ul>
        </div>
    </accordion-group>
    <accordion-group heading="Databases">
        <div class="images-block">
            <ul class="list-group product-category-all">
                <li class="list-group-item" *ngFor="let database of databases">
                    <div class="switch-module">
                        <switch 
                        [status]="database.status"
                        [onText]="switchOptions.onText"
                        [offText]="switchOptions.offText"
                        [onColor]="switchOptions.onColor"
                        [offColor]="switchOptions.offColor"
                        [size]="switchOptions.size"
                        (statusChange)="onFlagChange($event)"
                        ></switch>
                    </div>
                    <div class="img-item" [attr.data-type]="database.type" [innerHTML]="database.icon"></div>
                    {{ database.name }}
                </li>
            </ul>
        </div>
    </accordion-group>

    <accordion-group heading="Middleware">
        <div class="images-block">
            <ul class="list-group product-category-all">
                <li class="list-group-item" *ngFor="let middleware of middlewares">
                    <div class="switch-module">
                        <switch 
                        [status]="middleware.status"
                        [onText]="switchOptions.onText"
                        [offText]="switchOptions.offText"
                        [onColor]="switchOptions.onColor"
                        [offColor]="switchOptions.offColor"
                        [size]="switchOptions.size"
                        (statusChange)="onFlagChange($event)"
                        ></switch>
                    </div>
                    <div class="img-item" [attr.data-type]="middleware.type" [innerHTML]="middleware.icon"></div>
                    {{ middleware.name }}
                </li>
            </ul>
        </div>
    </accordion-group>

    <accordion-group heading="JBOSS">
        <div class="images-block">
            <ul class="list-group product-category-all">
                <li class="list-group-item" *ngFor="let jbos of jboss">
                    <div class="switch-module">
                        <switch 
                        [status]="jbos.status"
                        [onText]="switchOptions.onText"
                        [offText]="switchOptions.offText"
                        [onColor]="switchOptions.onColor"
                        [offColor]="switchOptions.offColor"
                        [size]="switchOptions.size"
                        (statusChange)="onFlagChange($event)"
                        ></switch>
                    </div>
                    <div class="img-item" [attr.data-type]="jbos.type" [innerHTML]="jbos.icon"></div>
                    {{ jbos.name }}
                </li>
            </ul>
        </div>
    </accordion-group>

    <accordion-group heading="OpenShift">
        <div class="images-block">
            <ul class="list-group product-category-all">
                <li class="list-group-item" *ngFor="let openshift of openshifts">
                    <div class="switch-module">
                        <switch 
                        [status]="openshift.status"
                        [onText]="switchOptions.onText"
                        [offText]="switchOptions.offText"
                        [onColor]="switchOptions.onColor"
                        [offColor]="switchOptions.offColor"
                        [size]="switchOptions.size"
                        (statusChange)="onFlagChange($event)"
                        ></switch>
                    </div>
                    <div class="img-item" [attr.data-type]="openshift.type" [innerHTML]="openshift.icon"></div>
                    {{ openshift.name }}
                </li>
            </ul>
        </div>
    </accordion-group>
</accordion>