.text-overflow-pf {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

body {
  font-size: 13px;
  padding-top: 0;
  margin-bottom: 158px;
}

@media (min-width: 992px) {
  body {
    margin-bottom: 87px;
  }
}

@media (min-width: 1200px) {
  body {
    margin-bottom: 102px;
  }
}

.btn-copy {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
}

.tab-content .btn-copy {
  right: 0;
}

.carousel-header .controls {
  float: right;
  margin-top: 25px;
  margin-bottom: 8px;
}

.carousel-header h3 {
  margin-bottom: 0px;
}

.carousel-header a,
.carousel-header h3,
.carousel-header span {
  display: inline-block;
}

.carousel-header .learn {
  background-color: #FFFFFF;
  margin-right: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.carousel-header .previous,
.carousel-header .next {
  background-color: #FFFFFF;
  color: #292e34;
  font-size: 17px;
  margin-left: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.carousel-header .previous>span,
.carousel-header .next>span {
  padding-bottom: 5px;
}

.clearfix img {
  /* height: auto; breaks angular-patternfly examples */
  max-width: 100%;
}

.collapse-toggle {
  color: #0088ce;
  padding-left: 12px;
  position: relative;
}

.collapse-toggle:after {
  border: 4px solid transparent;
  border-top-color: #0088ce;
  border-bottom-width: 0;
  content: '';
  height: 0;
  left: 0;
  opacity: .95;
  position: absolute;
  top: 8px;
  width: 0;
}

.collapse-toggle:hover {
  color: #00659c;
}

.collapse-toggle:hover:after {
  border-top-color: #00659c;
}

.collapse-toggle.collapsed:after {
  border-bottom-width: 4px;
  border-left-color: #0088ce;
  border-top-color: transparent;
  border-right-width: 0;
  left: 2px;
  top: 30%;
}

.collapse-toggle.collapsed:hover:after {
  border-left-color: #00659c;
}

#code pre {
  max-height: 364px;
}

#content {
  position: relative;
}

.download {
  position: relative;
}

.download-description {
  margin-left: 116px;
}

.download-icon {
  left: 20px;
  position: absolute;
  top: 30px;
}

.download-icon img {
  width: 91px;
}

.drawer-pf-title h3 {
  line-height: 1.1;
  font-weight: 500;
}

.dropdown-menu-pf-full {
  width: 100%;
}

.example-navbar .navbar-brand>img {
  padding-right: 0;
  height: 10px;
  width: 270px;
  margin: 0;
}

.example-navbar .navbar-pf-vertical .navbar-brand>img {
  height: auto;
  width: auto;
}

.example-pf {
  font-size: 12px;
}

.example-pf .blank-slate-pf,
.example-pf .dataTables_wrapper,
.example-pf .progress,
.example-pf .toolbar-pf {
  margin-bottom: 10px;
}

.example-pf .container-cards-pf {
  margin-top: 0;
}

.example-pf .example-pf-demo {
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 20px;
  margin-bottom: 10px;
}

.example-pf .example-pf-demo-no-padding {
  padding: 0;
}

.example-pf .row-cards-pf {
  padding-top: 20px;
}

.example-pf .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.example-pf h1,
.example-pf h2,
.example-pf h3 {
  line-height: 1.1;
}

.example-pf+.btn {
  margin-top: 10px;
}

.example .example-pf {
  padding-left: 0px;
  padding-right: 0px;
}

.example .row {
  margin-left: -10px;
  margin-right: -10px;
}

.example-bg .example-pf {
  padding-left: 0px;
  padding-right: 0px;
}

.example-bg .row {
  margin-left: 0px;
  margin-right: 0px;
}

.example-bg .row-cards-pf {
  padding-left: 20px;
  padding-right: 20px;
}

.example-pie-chart,
.example-pie-chart-right-legend,
.example-pie-chart-bottom-legend {
  width: 440px;
}

.example-pie-chart {
  margin-left: 10px;
}

.example-pie-chart-right-legend {
  margin-left: 27px;
}

.example-pie-chart-bottom-legend {
  margin-left: -50px;
}

.example-pie-chart-mini {
  margin-left: 23px;
}

.example-donut-chart,
.example-donut-chart-right-legend,
.example-donut-chart-bottom-legend {
  width: 440px;
}

.example-donut-chart {
  margin-left: 10px;
}

.example-donut-chart-right-legend {
  margin-left: 28px;
}

.example-donut-chart-bottom-legend {
  margin-left: -25px;
}

.example-donut-chart-mini {
  margin-left: 28px;
}

.example-donut-chart-utilization {
  width: 220px;
  margin-left: 10px;
}

.example-image {
  border: 1px solid black;
}

.site-footer {
  border-top: 1px solid #D5D5D5;
  bottom: 0;
  font-size: 10px;
  left: 20px;
  line-height: 15px;
  padding-bottom: 28px;
  padding-top: 28px;
  position: absolute;
  width: calc(100% - 40px);
}

.has-sidebar .site-footer {
  left: 45px;
  width: calc(100% - 25px - 40px);
}

@media (min-width: 992px) {
  .has-sidebar .site-footer {
    left: 260px;
    width: calc(100% - 240px - 40px);
  }
}

.home .site-footer {
  border-top: 0;
  margin-top: 0;
}

.site-footer a,
.site-footer a:focus,
.site-footer a:hover {
  color: #3bb1dc;
}

.site-footer #logo-redhat {
  background: url(../img/redhat.svg) no-repeat;
  display: none;
  float: left;
  height: 34px;
  margin: -3px 30px 0 0;
  text-indent: -9999px;
  width: 106px;
}

@media (min-width: 1200px) {
  .site-footer #logo-redhat {
    display: block;
  }
}

.site-footer p {
  font-size: 11px !important;
  margin-bottom: 0;
}

.site-footer .social {
  clear: left;
  list-style: none;
  margin: 15px 0 0;
  padding: 0;
}

@media (min-width: 992px) {
  .site-footer .social {
    margin-top: 3px;
    text-align: right;
  }
}

.site-footer .social li {
  display: inline-block;
}

.site-footer .social li+li {
  margin-left: 10px;
}

.site-footer .social li a {
  color: #363636;
  font-size: 26px;
}

h1 {
  font-weight: 300;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
}

h3.card-pf-subtitle {
  font-weight: 500;
  line-height: 1.1;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}

h5,
h6 {
  font-weight: 600;
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1.card-pf-title,
h2.card-pf-title,
h3.card-pf-title {
  line-height: 1.1;
}

header+.container-fluid {
  padding-bottom: 50px;
  padding-top: 72px;
  transition: padding-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.has-sidebar header+.container-fluid {
  padding-left: 45px;
}

@media (min-width: 992px) {
  .has-sidebar header+.container-fluid {
    padding-left: 260px;
  }
}

header .navbar.navbar-default {
  background: #040404 !important;
  border-bottom: 0 !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 2px solid #32a6d7;
  font-size: 13px;
  margin-bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}

.home header .navbar.navbar-default {
  background: transparent !important;
  position: absolute !important;
  top: 0 !important;
}

header .navbar.navbar-default .form-group {
  display: block;
}

header .navbar.navbar-default .navbar-brand {
  background: url(../img/patternfly.svg) no-repeat 0 50%;
  height: 40px;
  line-height: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  text-indent: -9999px;
  width: 220px;
}

@media (min-width: 768px) {
  header .navbar.navbar-default .navbar-brand {
    margin-left: 0;
  }
}

header .navbar.navbar-default .navbar-brand:hover:after {
  background: #1F89C7;
  content: '';
  height: 1px;
  left: 56px;
  position: absolute;
  top: 33px;
  width: 163px;
}

header .navbar.navbar-default .navbar-collapse {
  border-top-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
}

@media (max-width: 991px) {
  header .navbar.navbar-default .navbar-collapse {
    padding-bottom: 10px;
    padding-top: 15px;
  }
  .home header .navbar.navbar-default .navbar-collapse {
    background: #040404;
    border-top-color: transparent;
    box-shadow: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .navbar.navbar-default .navbar-collapse {
    border-top-style: solid;
    border-top-width: 1px;
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 0;
    padding-right: 0;
  }
  header .navbar.navbar-default .navbar-collapse.collapse {
    display: none !important;
    overflow-x: hidden !important;
  }
  header .navbar.navbar-default .navbar-collapse.collapse.in {
    display: block !important;
    overflow-x: visible !important;
  }
}

@media (min-width: 992px) {
  header .navbar.navbar-default .navbar-collapse {
    border-top: 0;
    box-shadow: none;
  }
}

header .navbar.navbar-default .navbar-collapse .navbar-nav {
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .navbar.navbar-default .navbar-collapse .navbar-nav>li {
    float: none;
  }
}

header .navbar.navbar-default .navbar-form {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 4px;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
}

@media (min-width: 992px) {
  header .navbar.navbar-default .navbar-form {
    margin-bottom: 24px;
    margin-right: 0;
    margin-top: 23px;
    padding-left: 10px;
    padding-right: 0;
  }
}

header .navbar.navbar-default .navbar-form:before {
  color: #eee;
  content: "\f002";
  font: 14px/1 "FontAwesome";
  position: absolute;
  left: 24px;
  top: 4px;
}

@media (min-width: 992px) {
  header .navbar.navbar-default .navbar-form:before {
    left: 14px;
    top: 4px;
  }
}

header .navbar.navbar-default .navbar-form .btn {
  display: none;
}

header .navbar.navbar-default .navbar-form .form-control {
  background: rgba(255, 255, 255, 0.15);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #dbdada;
  display: block;
  height: 22px;
  padding-bottom: 1px;
  padding-left: 22px;
  padding-top: 1px;
}

@media (min-width: 768px) {
  header .navbar.navbar-default .navbar-form .form-control {
    width: 100%;
  }
}

@media (min-width: 992px) {
  header .navbar.navbar-default .navbar-form .form-control {
    display: inline-block;
    width: 130px;
  }
}

header .navbar.navbar-default .navbar-form .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-property: background, color;
  transition-property: background, color;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .navbar.navbar-default .navbar-header {
    float: none;
    margin-right: -20px;
    margin-left: -20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .navbar.navbar-default .navbar-right {
    float: none !important;
    margin-right: 0;
  }
}

header .navbar.navbar-default .navbar-right>li.active>a,
header .navbar.navbar-default .navbar-right>li.active:hover>a {
  background: transparent !important;
  color: #3bb1dc !important;
}

header .navbar.navbar-default .navbar-right>li:hover {
  background: #212121;
}

header .navbar.navbar-default .navbar-right>li:hover>a {
  background: transparent;
  color: #fff;
}

header .navbar.navbar-default .navbar-right>li>a {
  color: #eee;
  padding: 7px 20px;
}

@media (min-width: 992px) {
  header .navbar.navbar-default .navbar-right>li>a {
    padding: 25px 15px;
  }
}

header .navbar.navbar-default .navbar-right>li>a:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .home header .navbar.navbar-default .navbar-right>li:hover,
  .home header .navbar.navbar-default .navbar-right>li.open {
    background: #252525;
    background: rgba(0, 0, 0, 0.1);
  }
}

header .navbar.navbar-default .navbar-toggle {
  background-color: transparent;
  border: none;
  float: left;
  margin-bottom: 19px;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 19px;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .navbar.navbar-default .navbar-toggle {
    display: block;
  }
}

header .navbar.navbar-default .navbar-toggle:focus {
  outline: none;
}

header .navbar.navbar-default .navbar-toggle:focus .icon-bar,
header .navbar.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}

.home {
  height: 100%;
}

.home>div p {
  font-size: 13px;
}

@media (min-width: 768px) {
  .home>div p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .home>div p {
    font-size: 17px;
    font-weight: 300;
  }
}

.home .about {
  font-weight: 300;
  padding-bottom: 35px;
  padding-top: 10px;
}

.home .about .container>p {
  margin-bottom: 0;
}

.home .about h3 {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.25;
}

@media (min-width: 400px) and (max-width: 1199px) {
  .home .about h3 {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .home .about h3 {
    font-size: 24px;
  }
}

.home .about .row>div {
  text-align: center;
}

.home .about .row>div img {
  margin-top: 25px;
  max-width: 175px;
}

@media (min-width: 768px) {
  .home .about .row>div img {
    margin-top: 15px;
  }
}

.home .about .row>div p>a {
  font-size: 13px;
}

@media (min-width: 400px) and (max-width: 1199px) {
  .home .about .row>div p>a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .home .about .row>div p>a {
    font-size: 17px;
  }
}

.home .carousel-indicators .active {
  background-color: #9c9c9c;
}

.home .carousel-indicators li {
  border-color: #9c9c9c;
}

.home h2 {
  color: #3bb1dc;
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .home h2 {
    font-size: 32px;
  }
}

.home .jumbotron {
  background: #010101;
  background: url(../img/grid-left.svg) no-repeat -10% 0, url(../img/grid-right.svg) no-repeat 120% 0, url(../img/grid-bottom.svg) no-repeat 50% 105%, linear-gradient(to bottom, #2B2B2B 0, #010101 100%);
  background-size: 40% auto, 40% auto, 60% auto, auto;
  color: #e4e4e4;
  margin: 0;
  padding: 90px 0 110px;
  position: relative;
  text-align: center;
}

@media (min-width: 1200px) {
  .home .jumbotron {
    background-position: 0 0, 110% 0, 50% 100%;
    background-size: auto 100%, auto 100%, auto, auto;
  }
}

@media (min-width: 768px) {
  .home .jumbotron {
    background-size: 40% 100%, 40% 100%, 60% auto, auto;
    min-height: 780px;
    height: 100%;
  }
}

.home .jumbotron .alert {
  text-align: left;
}

.home .jumbotron .arrow {
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 0;
  color: #000;
  display: block;
  font-size: 40px;
  position: absolute;
  width: 100%;
}

.home .jumbotron .arrow:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

.home .jumbotron .container-fluid,
.home .jumbotron .content,
.home .jumbotron .splash {
  height: 100%;
}

.home .jumbotron .content {
  display: table-cell;
  vertical-align: middle;
}

.home .jumbotron .description {
  font-size: 14px;
  margin: 50px auto 50px;
  position: relative;
}

.home .jumbotron .description:after {
  background: #bbb;
  top: -26px;
  content: '';
  height: 2px;
  left: 50%;
  margin: 0 0 0 -28px;
  position: absolute;
  width: 56px;
}

@media (min-width: 480px) {
  .home .jumbotron .description {
    width: 58%;
  }
}

@media (min-width: 768px) {
  .home .jumbotron .description {
    font-size: 18px;
    font-weight: 300;
    width: 73%;
  }
}

@media (min-width: 992px) {
  .home .jumbotron .description {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .home .jumbotron .description {
    width: 46%;
  }
}

.home .jumbotron h1 {
  background: -webkit-linear-gradient(#5feffe, #208bc9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #3bb1dc;
  font-size: 32px;
  font-weight: 100;
  line-height: 1.2;
  margin: 22px 0 0;
}

@media (min-width: 480px) {
  .home .jumbotron h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .home .jumbotron h1 {
    font-size: 52px;
  }
}

.home .jumbotron img {
  height: 160px;
  width: 160px;
}

@media (min-width: 480px) {
  .home .jumbotron img {
    height: 220px;
    width: 220px;
  }
}

@media (min-width: 768px) {
  .home .jumbotron img {
    height: 320px;
    width: 320px;
  }
}

.home .jumbotron .splash {
  display: table;
  width: 100%;
}

.home .jumbotron .version {
  color: #bebebe;
  font-size: 11px;
}

.home .whats-new {
  background-color: #f6f6f6;
}

@media (min-width: 992px) {
  .home .whats-new {
    background-image: url(../img/grid-whats-new.svg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.home .whats-new .container-fluid {
  padding-bottom: 25px;
  padding-top: 15px;
}

.home .whats-new h3 {
  font-size: 18px;
}

.home .whats-new .updates {
  list-style: none;
  margin-bottom: 20px;
  margin-left: 0;
  padding-left: 0;
}

hr {
  border-top-color: #D5D5D5;
}

html {
  min-height: 100%;
  position: relative;
}

html.home-container {
  height: 100%;
}

html.home-container footer {
  position: relative;
}

.icons .fa,
.icons .glyphicon,
.icons .pficon {
  font-size: 14px;
  margin-right: 5px;
  text-align: center;
  width: 14px;
}

.icons .icon-class {
  display: inline-block;
}

.icons li {
  margin: 0 0 7px;
}

.icons .zeroclipboard-is-hover {
  color: #0088ce;
}

.important-box .last-update {
  color: #8b8d8f;
  display: block;
  font-size: 12px;
  margin-top: 5px;
}

.indent {
  margin-left: 30px;
}

.list-img-block {
  display: block;
  padding: 10px 0;
}

.meta {
  color: #9c9c9c;
  font-size: 11px;
}

.reference-markup {
  margin-top: 10px;
}

.navbar-sidebar {
  background: #292e33 url(../img/grid-sidebar.png) no-repeat 50% 100%;
  border: 0;
  border-radius: 0;
  bottom: 0;
  left: -240px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 72px;
  transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  width: 240px;
  z-index: 1029;
}

@media (min-width: 992px) {
  .navbar-sidebar {
    box-shadow: none !important;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 0;
  }
}

.navbar-sidebar.open {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-sidebar.open .navbar-toggle-sidebar {
  box-shadow: none;
  background-color: transparent;
  right: 0;
}

.navbar-sidebar.open .navbar-toggle-sidebar:active,
.navbar-sidebar.open .navbar-toggle-sidebar:hover {
  background: rgba(92, 103, 112, 0.5) !important;
}

.navbar-sidebar.open .navbar-toggle-sidebar:focus {
  background: transparent;
}

.navbar-sidebar.open .navbar-toggle-sidebar .fa-angle-double-right {
  left: 6px;
}

.navbar-sidebar.open .navbar-toggle-sidebar .fa-angle-double-right:before {
  content: "\f100";
}

.navbar-sidebar .form-group {
  display: block;
}

.navbar-sidebar .navbar-form {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 4px;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
}

@media (min-width: 992px) {
  .navbar-sidebar .navbar-form {
    margin-bottom: 24px;
    margin-right: 0;
    margin-top: 23px;
    padding-left: 10px;
    padding-right: 0;
  }
}

.navbar-sidebar .navbar-form:before {
  color: #eee;
  content: "\f002";
  font: 14px/1 "FontAwesome";
  position: absolute;
  left: 24px;
  top: 4px;
}

@media (min-width: 992px) {
  .navbar-sidebar .navbar-form:before {
    left: 14px;
    top: 4px;
  }
}

.navbar-sidebar .navbar-form .btn {
  display: none;
}

.navbar-sidebar .navbar-form .form-control {
  background: rgba(255, 255, 255, 0.15);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #dbdada;
  display: block;
  height: 22px;
  padding-bottom: 1px;
  padding-left: 22px;
  padding-top: 1px;
  width: 100%;
  /*
        @media (min-width: @screen-sm) {
          width: 100%;
        }
        @media (min-width: @screen-md) {
          display: inline-block;
          width: 130px;
        }
        */
}

.navbar-sidebar .navbar-form .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-property: background, color;
  transition-property: background, color;
}

.navbar-sidebar .navbar-right {
  float: none !important;
  margin-left: 0px;
  margin-right: 5px;
}

.navbar-sidebar .navbar-right>li.active>a,
.navbar-sidebar .navbar-right>li.active:hover>a {
  background: transparent !important;
  color: #3bb1dc !important;
}

.navbar-sidebar .navbar-right>li:hover {
  background: #212121;
}

.navbar-sidebar .navbar-right>li:hover>a {
  background: transparent;
  color: #fff;
}

.navbar-sidebar .navbar-right>li>a {
  color: #eee;
  padding: 7px 20px;
}

@media (min-width: 992px) {
  .navbar-sidebar .navbar-right>li>a {
    padding: 25px 15px;
  }
}

.navbar-sidebar .navbar-right>li>a:hover {
  color: #fff;
}

@media (min-width: 992px) {
  .home .navbar-sidebar .navbar-right>li:hover,
  .home .navbar-sidebar .navbar-right>li.open {
    background: #252525;
    background: rgba(0, 0, 0, 0.1);
  }
}

.navbar-sidebar .navbar-toggle-sidebar {
  background: #292e33;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
  color: rgba(255, 255, 255, 0.6);
  height: 100%;
  padding: 0 5px;
  position: absolute;
  right: -25px;
  top: 0;
  width: 25px;
  z-index: 3;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
}

@media (min-width: 992px) {
  .navbar-sidebar .navbar-toggle-sidebar {
    display: none;
  }
}

.navbar-sidebar .navbar-toggle-sidebar:active,
.navbar-sidebar .navbar-toggle-sidebar:focus,
.navbar-sidebar .navbar-toggle-sidebar:hover {
  background: #40484f;
  color: #ffffff;
  outline: none;
}

.navbar-sidebar .navbar-toggle-sidebar .fa-angle-double-right {
  font-size: 20px;
  position: absolute;
  left: 7px;
  top: 5px;
}

.navbar-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-sidebar ul li {
  position: relative;
}

.navbar-sidebar ul li.active>a {
  color: #fff;
  font-weight: 600;
}

.navbar-sidebar ul li a {
  color: #fff;
  display: block;
  padding: 5px 20px;
}

.navbar-sidebar ul li a:hover {
  text-decoration: none;
}

.navbar-sidebar>ul {
  margin: 0 0 20px 0;
}

.navbar-sidebar>ul>li>a {
  border-bottom: 1px solid #393f44;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 60px;
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-sidebar>ul>li>ul>li.active {
  background: rgba(101, 109, 115, 0.25);
}

.navbar-sidebar>ul>li>ul>li.active:after {
  background: #0088ce;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 2;
}

.navbar-sidebar>ul>li>ul>li.active>a:hover {
  background: transparent;
}

.navbar-sidebar>ul>li>ul>li.active>ul {
  display: block;
}

.navbar-sidebar>ul>li>ul>li.active>ul>li.active>a {
  color: #0088ce;
}

.navbar-sidebar>ul>li>ul>li.active>ul>li.active>a:hover {
  background: transparent;
}

.navbar-sidebar>ul>li>ul>li.active>ul>li>a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.navbar-sidebar>ul>li>ul>li a:focus {
  text-decoration: none;
}

.navbar-sidebar>ul>li>ul>li a:hover {
  background: rgba(101, 109, 115, 0.15);
}

.navbar-sidebar>ul>li>ul>li a[data-toggle]:before {
  content: "\f107";
  font-family: "FontAwesome";
  margin-right: 5px;
  vertical-align: 0;
}

.navbar-sidebar>ul>li>ul>li a[data-toggle].collapsed:before {
  content: "\f105";
  margin-left: 2px;
  margin-right: 7px;
}

.navbar-sidebar>ul>li>ul>li>ul,
.navbar-sidebar>ul>li>ul>li>ul.collapse {
  display: none;
}

.navbar-sidebar>ul>li>ul>li>ul.collapse.in {
  display: block;
}

.navbar-sidebar>ul>li>ul>li>ul>li>a {
  padding-left: 34px;
}

.navbar-sidebar .fa-angle-right {
  color: #fff;
  float: right;
  font-size: 18px;
  padding-top: 2px;
  text-align: right;
}

.navbar-sidebar.hidden {
  display: none;
}

.navbar-sidebar.navbar-home {
  background: #040404;
  border-right: 1px solid #393f44;
  border-top: 1px solid #393f44;
}

@media (min-width: 992px) {
  .navbar-sidebar.navbar-primary {
    left: -240px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-sidebar .secondary-menu-toggle-icon {
    color: #0088ce;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: inherit;
    margin-right: 10px;
    -webkit-font-smoothing: antialiased;
  }
  .navbar-sidebar .secondary-menu-toggle-icon:before {
    content: '\f190';
  }
  .navbar-sidebar .secondary-menu-toggle-icon.collapsed:before {
    content: '\f18e';
  }
}

.nav-tabs-code {
  margin-bottom: 20px;
}

.nav-tabs-pattern {
  /* margin-bottom: (@grid-gutter-width + 5); */
}

.nav-tabs-pattern>li.active>a:hover {
  box-shadow: none;
}

.nav-tabs-pattern>li>a {
  background: #f5f5f5;
  border: 1px solid #ccc !important;
  margin-bottom: 0 !important;
}

.nav-tabs-pattern>li>a:hover {
  background: #e6e6e6;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
}

.nav-tabs-pattern>li+li>a {
  margin-top: -1px;
}

@media (min-width: 768px) {
  .nav-tabs-pattern>li.active:after,
  .nav-tabs-pattern>li.active:before {
    border: 10px solid transparent;
    border-bottom-width: 0;
    border-top-color: #fff;
    bottom: -9px;
    content: '';
    height: 0;
    left: 50%;
    margin: 0 0 0 -10px;
    position: absolute;
    width: 0;
  }
  .nav-tabs-pattern>li.active:before {
    border-top-color: #aaa;
    bottom: -10px;
  }
  .nav-tabs-pattern>li>a {
    line-height: 59px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .nav-tabs-pattern>li+li>a {
    margin-left: -1px;
  }
}

.page-header {
  border-bottom: 0;
  margin-top: 34px;
  padding: 0;
}

.pattern-section {
  padding-top: 20px;
}

.pattern-section .pattern-thumbnail {
  padding-bottom: 20px;
  padding-top: 20px;
}

.pattern-section h2 {
  border-bottom: 1px solid #D5D5D5;
}

.pattern-section p {
  text-align: center;
  width: 200px;
}

.pf-example {
  font-size: 12px;
}

.pf-example h3 {
  line-height: 1.1;
}

.post_content h2+h3 {
  margin-top: 0;
}

.post_content h2[id],
.post_content h3[id],
.post_content h4[id],
.post_content h5[id],
.post_content p[id] {
  margin-top: -82px;
  padding-top: 82px;
}

.post_content .example-pf iframe {
  border: none;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(3, 3, 3, 0.175);
  box-shadow: 0 1px 1px rgba(3, 3, 3, 0.175);
}

.post_content .cards-pf {
  margin-bottom: 10px;
}

.post_content .example-pf-demo .cards-pf {
  margin-bottom: 0;
}

.post_content div+h2[id],
.post_content ol+h2[id],
.post_content p+h2[id],
.post_content ul+h2[id] {
  padding-top: 116px;
}

.post_content h1,
.post_content h2,
.post_content h3 {
  line-height: 1.4;
  padding-bottom: 10px;
}

.post_content #html-css>h2[id]:first-child {
  padding-top: 106px;
}

.post_content ol+h2 {
  margin-top: 42px;
}

.post_content ol+h2[id] {
  margin-top: -82px;
}

.post_content .row+h2 {
  margin-top: 36px;
}

.post_content .row+h2[id] {
  margin-top: -82px;
}

.section,
.super-section {
  padding-top: 100px;
  position: relative;
}

.section:before,
.super-section:before {
  background: #f0f0f0;
  content: '';
  height: 1px;
  position: absolute;
  top: 50px;
  width: 100%;
}

.section>*:first-child,
.super-section>*:first-child {
  margin-top: 0;
}

.section h3+p,
.super-section h3+p {
  margin-bottom: 20px;
  margin-top: -8px;
}

.section .pagination,
.super-section .pagination,
.section .pager,
.super-section .pager {
  margin: 0;
}

.sections>.row {
  padding-bottom: 40px;
  padding-top: 40px;
}

.sections>.row h2 {
  margin-top: 0;
}

@media (min-width: 992px) {
  .sections>.row h3 {
    text-align: center;
  }
}

.sections>.row .section-img {
  text-align: center;
}

.sections.sections-zebra>.row:nth-child(odd) {
  background: #f8f8f8;
}

p+.sections {
  margin-top: 40px;
}

.super-section:before {
  background: #dfdfdf;
}

strong {
  font-weight: 600;
}

th {
  font-weight: 600;
}

.tab-content,
.widgets-content {
  max-width: 920px;
}

.tab-content .collapse.in,
.widgets-content .collapse.in {
  position: relative;
}

.tab-pane:not(.nested)>h2:first-child {
  margin-top: 0;
}

@media (min-width: 992px) {
  [class^="col"]>.tn-prototype {
    margin-top: 0;
  }
}

.tn-prototype.tn-prototype-inverse a:hover:before {
  background: rgba(255, 255, 255, 0.4);
}

.tn-prototype a {
  display: inline-block;
  position: relative;
}

.tn-prototype a:hover:after {
  background: #0099d3;
  border-radius: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: #fff;
  content: 'Preview';
  display: block;
  font-weight: 600;
  left: 50%;
  letter-spacing: 1px;
  margin: -16px 0 0 -55px;
  padding: 6px 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 110px;
}

.tn-prototype a:hover:before {
  background: rgba(0, 0, 0, 0.07);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.tn-prototype a img {
  border: 1px solid #dfdfdf;
}

.wow {
  visibility: hidden;
}

.page-tabs-header {
  margin-bottom: 25px;
}

@media (min-width: 992px) {
  .page-tabs-header {
    vertical-align: middle;
  }
  .page-tabs-header .cols-nopad-left {
    padding-left: 0;
  }
  .page-tabs-header .cols-nopad-right {
    padding-right: 0;
  }
  .page-tabs-header h1 {
    border-bottom: 1px solid #D5D5D5;
    line-height: 60px;
    margin-top: 0px;
    padding-bottom: 0;
  }
}

.pforg-code__title-row {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.pforg-code__core-example-title {
  margin: 0;
  padding: 0;
}

.pforg-code__showcase-link-list {
  list-style: none;
  margin: 0;
  padding: 0 0 25px 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #D5D5D5;
}

.pforg-code__showcase-link-item {
  padding-right: 4rem;
}

.pforg-code__showcase-link-item__disabled {
  color: #cccccc;
  cursor: not-allowed;
}

.pforg-no-code {
  text-align: center;
}

.pforg-no-code .pforg-no-code-icon img {
  width: 6%;
}
