
<nav class="navbar navbar-pf-vertical">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
            <img class="navbar-brand-icon" src="assets/img/logo-alt.svg" alt="" />
            <img class="navbar-brand-name" src="assets/img/brand-alt.svg" alt="ContainerPlay Designer" />
        </a>

    </div>
    <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right navbar-iconic navbar-utility">

            <li class="dropdown">
                <a href="#0" class="dropdown-toggle nav-item-iconic" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span title="Help" class="fa pficon-help"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="#0">Help</a>
                    </li>
                    <li>
                        <a href="#0">About</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#0" class="dropdown-toggle nav-item-iconic" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span title="Username" class="fa pficon-user"></span>
                    Brian Johnson
                    <span class="caret"></span>
                </a>
                <ng-template #actionTemplate>
                        <span class="dropdown primary-action" dropdown>
                          <button class="btn btn-default dropdown-toggle" type="button" dropdownToggle>
                            Menu Action<span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" *dropdownMenu>
                            <li role="menuitem">
                              <a class="dropdown-item secondary-action" (click)="optionSelected(1)">Option 1</a>
                            </li>
                            <li role="menuitem">
                              <a class="dropdown-item secondary-action" role="menuitem" (click)="optionSelected(2)">Option 2</a>
                            </li>
                            <li role="menuitem">
                              <a class="dropdown-item secondary-action" role="menuitem" (click)="optionSelected(3)">Option 3</a>
                            </li>
                            <li role="menuitem">
                              <a class="dropdown-item secondary-action" role="menuitem" (click)="optionSelected(4)">Option 4</a>
                            </li>
                          </ul>
                        </span>
                        <button class="btn btn-default primary-action" type="button" (click)="doAdd()">
                          <span class="fa fa-plus"></span>
                          Add Action
                        </button>
                      </ng-template>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li>
                        <a href="#0">Preferences</a>
                    </li>
                    <li>
                        <a href="#0">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</nav>