
<div class="slimScrollDiv">
    <h6>Enter DC Details below</h6>
    <form name="form-deployconfig" id="form-deployconfig" [formGroup]="deployConfigForm" novalidate>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label class="checkbox" for="newimageisavailabler">
                    <input type="checkbox" id="newimageisavailabler" name="newimageisavailabler" formControlName="newimageisavailabler" />
                    <span class="success"></span>
                </label>
                New image is availabler
            </li>
            <li class="list-group-item">
                <label class="checkbox" for="deploymentconfigurationchanges">
                    <input type="checkbox" id="deploymentconfigurationchanges" name="deploymentconfigurationchanges" formControlName="deploymentconfigurationchanges" />
                    <span class="success"></span>
                </label>
                Deployment configuration changes
            </li>
        </ul>
    </form>
</div>