<div class="slimScrollDiv">
    <h6>Enter label Details below</h6>
    <ul class="choose-skin-1">
        <li>
            <form name="form-label" id="form-label" [formGroup]="labelsForm" novalidate>
                <div class="form-group">
                    <label for="containerName">Name</label>
                    <input type="text" class="form-control" name="containerName" id="containerName" formControlName="containerName" placeholder="">
                </div>
                <div class="form-group">
                    <label for="container-giturl">Git URL</label>
                    <input type="text" class="form-control" name="containerGiturl" id="containerGiturl" formControlName="containerGiturl" placeholder="">
                </div>
            </form>
        </li>
    </ul>

</div>