
<div class="slimScrollDiv">
    <h6>Enter Scaling Details below</h6>
    <ul class="choose-skin-1">
        <li>
            <form id="form-scaling" name="form-scaling" [formGroup]="scalingForm" novalidate>
                <div class="form-group">
                    <label for="scalingStrategy">Preference</label>
                    <select class="custom-select" name="scalingStrategy" id="scalingStrategy" formControlName="scalingStrategy">
                        <option value="1">Manual</option>
                        <option value="2">Automatic</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ScalingReplicas">Replicas</label>
                    <input type="text" class="form-control" name="scalingReplicas" id="scalingReplicas" formControlName="scalingReplicas" aria-describedby="Scaling Replicas" placeholder="Scaling Replicas">
                </div>
            </form>
        </li>
    </ul>
</div>
