
<div class="slimScrollDiv">
    <h6>Enter BuildConfig Details below</h6>

    <form name="form-buildconfig" id="form-buildconfig" [formGroup]="buildConfigForm" novalidate>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label class="checkbox" for="configureawebhookbuildtrigger" [formGroup]="buildConfigForm" novalidate>
                    <input type="checkbox" id="configureawebhookbuildtrigger" name="configureawebhookbuildtrigger" formControlName="configureawebhookbuildtrigger" />
                    <span class="success"></span>
                </label>
                Configure a webhook build trigger
            </li>
            <li class="list-group-item">
                <label class="checkbox" for="automaticallybuildwhenbuilderimagechanges">
                    <input type="checkbox" id="automaticallybuildwhenbuilderimagechanges" name="automaticallybuildwhenbuilderimagechanges" formControlName="automaticallybuildwhenbuilderimagechanges" />
                    <span class="success"></span>
                </label>
                Automatically build a new image when the builder image changes
            </li>
            <li class="list-group-item">
                <label class="checkbox" for="launchFirstBuild">
                    <input type="checkbox" id="launchFirstBuild" name="launchFirstBuild" formControlName="launchFirstBuild" />
                    <span class="success"></span>
                </label>
                Launch the first build when the build configuration is created
            </li>
        </ul>
    </form>
</div>
