<div id="verticalNavLayout" class="layout-pf layout-pf-fixed faux-layout">
    <pfng-vertical-navigation
    [brandAlt]="'Container Play'"
    [contentContainer]="contentContainer"
    [items]="navigationItems"
    [persistentSecondary]="false"
    [pinnableMenus]="true"
    [showBadges]="true"
    [showIcons]="true"
    [updateActiveItemsOnClick]="true"
    (onItemClickEvent)="onItemClicked($event)"
    (onNavigationEvent)="onNavigation($event)">
    
        <div>
            <ul class="nav navbar-nav navbar-right navbar-iconic">
                <li class="dropdown"></li>
                <li class="dropdown btn-group" dropdown>
                    
                    <a dropdownToggle class="dropdown-toggle nav-item-iconic" href (click)="false">
                        <span title="Help" class="fa pficon-help"></span>
                        <span class="caret"></span>
                    </a>

                    <ul *dropdownMenu class="dropdown-menu">
                        <li><a routerLink="/landing">Help</a></li>
                        <li><a routerLink="/landing">About</a></li>
                    </ul>
                    
                </li>
                <li class="dropdown" dropdown>
                    <a dropdownToggle class="dropdown-toggle nav-item-iconic">
                        <span title="Username" class="fa pficon-user"></span>
                        <span class="caret"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li><a routerLink="/landing">Preferences</a></li>
                        <li><a routerLink="/landing">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </pfng-vertical-navigation>

    <div #contentContainer class="container-fluid container-cards-pf container-pf-nav-pf-vertical example-page-container nav-pf-vertical-with-badges">
        <div class="row">
            <div class="col-sm-12">                
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>



<!-- <app-header></app-header>

<app-sidebar></app-sidebar>

<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical nav-pf-persistent-secondary ml200">

    <div class="row row-cards-pf">
        <div class="col-xs-12">
            <div class="card-pf">
    
                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div> -->