html, body {
    height: 100%;
}

.ml200 {
    margin-left: 200px;
}

.nav-pf-vertical .list-group-item>a:focus,
.nav-pf-vertical .list-group-item>a:hover {
    outline: none;
    text-decoration: none;
    background: #1d2127;
    font-weight: 400;
}

.nav-pf-vertical .list-group-item>a.active {
    background: #1d2127;
    color: #FFFFFF;
}

body {
    background: #efefef;
}

.faux-layout {
    position: fixed;
    top: 37px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    padding-top: 15px;
    z-index: 1100;
  }
  .example-page-container.container-fluid {
    position: fixed;
    top: 37px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    padding-top: 15px;
    overflow: auto;
  }

  .hide-vertical-nav {
    margin-top: 15px;
    margin-left: 30px;
  }
  
  .navbar-brand-txt {
    line-height: 34px;
  }

.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical.nav-pf-vertical-with-badges,
.nav-pf-vertical.nav-pf-vertical-with-badges {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}




.img-item, .img-item-in {
    display: inline-block;
    width: 50px;
    margin: 10px 6px;
    position: relative;
    z-index: 10;
    height: 50px;
    text-align: center;
}

.img-item img, .img-item-in img {
    width: 100%;
}

.product-category-all {
    margin: -15px -15px 10px -15px;
}

.product-category-all li.list-group-item {
    padding: 5px;
    font-size: 14px;
}

.product-category-all li.list-group-item .img-item {
    margin: 3px 20px 3px 10px;
    width: 30px;
    height: 30px;
}
.switch-module {
    float: right;
    margin: 3px 10px;
}

.images-block {
    
    .bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
        width: 58px !important;
        margin-left: -4px;
    }

    .bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
        width: 182px !important;
    }

    .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
        margin-left: -2px;
    }

    .bootstrap-switch {
        transform: scale(0.8);
        transform-origin: center right;
        -webkit-transform-origin: center right;
    }
    
}


.panel-group > .panel {
    border: none;
}

$sidebar-width: 250px;
.tools-sidebar {
    width: $sidebar-width;
    float: left;
}

.develop-app {
    margin-left: ($sidebar-width + 20);
    min-height: 500px;
    background: white;
    border: 1px solid #b8babd;
}

.connect-line {
    stroke: rgb(255,0,0);
    stroke-width: 2;
    cursor: pointer;
}

.swal2-container.swal2-shown {
    z-index: 4999;
}


.right-sidebar {

    ul.nav.nav-tabs {

        $translateXStart: translateX(-0px);

        transition: all .2s ease;
        -webkit-transform: $translateXStart;
        -moz-transform: $translateXStart;
        -ms-transform: $translateXStart;
        -o-transform: $translateXStart;
        transform: $translateXStart;
        padding: 0px 1%;

        .nav-item {
            width: 33%;
            text-align: center;
            margin-bottom: 0px;

            a {
                padding: 5px 0px;
            }
        }
    }

    tabset.scroll-right {
        ul.nav.nav-tabs {
            $translateX: translateX(-311px);
            -webkit-transform: $translateX;
            -moz-transform: $translateX;
            -ms-transform: $translateX;
            -o-transform: $translateX;
            transform: $translateX;
        }
    }

    .scroller.scroller-left, .scroller.scroller-right {
        position: absolute;
        top: 9px;
        width: 30px;
        height: 30px;
        background: #fdfdfd;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        z-index: 1;
    }

    .scroller.scroller-right {
        right: 0px;
    }
    .scroller.scroller-let {
        left: 0px;
    }
}



@keyframes check {0% {height: 0;width: 0;}
25% {height: 0;width: 10px;}
50% {height: 20px;width: 10px;}
}
.checkbox{background-color:#fff;display:inline-block;height:28px;margin: 0 1em 0 0em;width:28px;border-radius:4px;border:1px solid #ccc;float:left;}
.checkbox span{display:block;height:28px;position:relative;width:28px;padding:0}
.checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
.checkbox span:hover:after{border-color:#999}
.checkbox input{display:none}
.checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
.checkbox input:checked + .default:after{border-color:#444}
.checkbox input:checked + .primary:after{border-color:#2196F3}
.checkbox input:checked + .success:after{border-color:#8bc34a}
.checkbox input:checked + .info:after{border-color:#3de0f5}
.checkbox input:checked + .warning:after{border-color:#FFC107}
.checkbox input:checked + .danger:after{border-color:#f44336}


form#form-buildconfig li {
    min-height: 50px;
}

.product-category-all {
    margin: -15px -15px 10px -15px;
}

.product-category-all li.list-group-item {
    padding: 5px;
    font-size: 14px;
}

.product-category-all li.list-group-item .img-item {
    margin: 3px 20px 3px 10px;
    width: 30px;
    height: 30px;
    cursor: copy;
}

.product-category-all .img-item i {
    font-size: 23px;
}

.swal2-popup #swal2-content {
    text-align: center;
    font-size: 14px;
}



.right-sidebar.open {
    right: 0;
}

.right-sidebar {
    width: 380px;
    height: calc(100vh - 0px);
    position: fixed;
    right: -400px;
    top: 0px;
    background: #fdfdfd;
    z-index: 13 !important;
    -webkit-box-shadow: -2px 2px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: -2px 2px 5px rgba(0,0,0,0.1);
    -ms-box-shadow: -2px 2px 5px rgba(0,0,0,0.1);
    box-shadow: -2px 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    top: 60px;
    height: calc(100vh - 60px);
    padding-top: .5rem;
    border-radius: 0px;
}


.right-sidebar .nav-tabs+.tab-content {
    padding: 0
}

.right-sidebar .tab-content .tab-pane .slim_scroll {
    padding-bottom: 50px
}

.right-sidebar p {
    margin: 20px 15px 15px 15px;
    font-weight: bold
}

.right-sidebar .nav-tabs li {
    width: 33.33%;
    text-align: center;
    left: 0
}

.right-sidebar .nav-tabs li>a {
    margin-right: 0;
    padding: 13.5px 16px;
}

.right-sidebar #skins h6 {
    text-transform: capitalize;
    padding: 10px
}

.right-sidebar .choose-skin {
    list-style: none;
    padding-left: 0;
    overflow-y: hidden
}

.right-sidebar .choose-skin h6 {
    padding: 10px;
    margin: 15px 0 0 0;
    text-transform: unset
}

.right-sidebar .choose-skin li {
    border-bottom: 1px solid #eee;
    padding: 10px 10px 4px 10px;
    position: relative;
    cursor: pointer
}

.right-sidebar .choose-skin li.active {
    background-color: #eee
}

.right-sidebar .choose-skin li.active:after {
    font-family: 'Material Icons';
    position: absolute;
    top: 10px;
    right: 10px;
    content: '\E876';
    font-size: 18px;
    font-weight: bold
}

.right-sidebar .choose-skin li:hover {
    background-color: #eee
}

.right-sidebar .choose-skin li div {
    width: 24px;
    height: 24px;
    border-radius: 50%
}

.right-sidebar .choose-skin li span {
    position: relative;
    bottom: 7px;
    left: 5px
}

.right-sidebar .choose-skin .red {
    background-color: #ec3b57
}

.right-sidebar .choose-skin .pink {
    background-color: #E91E63
}

.right-sidebar .choose-skin .purple {
    background-color: #ba3bd0
}

.right-sidebar .choose-skin .deep-purple {
    background-color: #673AB7
}

.right-sidebar .choose-skin .blue {
    background-color: #457fca
}

.right-sidebar .choose-skin .cyan {
    background-color: #379c94
}

.right-sidebar .choose-skin .green {
    background-color: #78b83e
}

.right-sidebar .choose-skin .light-green {
    background-color: #8BC34A
}

.right-sidebar .choose-skin .yellow {
    background-color: #ffe821
}

.right-sidebar .choose-skin .orange {
    background-color: #FF9800
}

.right-sidebar .choose-skin .deep-orange {
    background-color: #f83600
}

.right-sidebar .choose-skin .grey {
    background-color: #9E9E9E
}

.right-sidebar .choose-skin .blue-grey {
    background-color: #607D8B
}

.right-sidebar .choose-skin .indigo {
    background-color: #3F51B5
}

.right-sidebar .choose-skin .light-blue {
    background-color: #03A9F4
}

.right-sidebar .choose-skin .teal {
    background-color: #009688
}

.right-sidebar .choose-skin .lime {
    background-color: #CDDC39
}

.right-sidebar .choose-skin .amber {
    background-color: #FFC107
}

.right-sidebar .choose-skin .brown {
    background-color: #795548
}

.right-sidebar .choose-skin .blush {
    background-color: #F15F79
}

.right-sidebar .choose-skin .black {
    background-color: #000
}

.right-sidebar .choose-skin .white {
    background-color: #fff
}

.right-sidebar #chat .right_chat {
    padding: 15px
}

.right-sidebar #chat .right_chat h6 {
    margin: 15px 0 0 0;
    text-transform: unset
}

.right-sidebar #chat .right_chat ul li {
    position: relative
}

.right-sidebar #chat .right_chat ul li.offline .status {
    background: #FF9800
}

.right-sidebar #chat .right_chat ul li.online .status {
    background: #8BC34A
}

.right-sidebar #chat .right_chat ul li.me .status {
    background: #0498bd
}

.right-sidebar #chat .right_chat ul .media .media-object {
    width: 36px;
    border-radius: 50%
}

.right-sidebar #chat .right_chat ul .media .name {
    font-weight: 600;
    color: #3d4c5a;
    margin: 0px;
    display: block;
    font-size: 15px
}

.right-sidebar #chat .right_chat ul .media .message {
    font-size: 13px;
    color: #888;
    max-width: 205px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.right-sidebar #chat .right_chat ul .media .status {
    position: absolute;
    left: 29px;
    top: 24px;
    width: 9px;
    height: 9px;
    padding: 0;
    min-width: inherit;
    border: 2px solid #fff;
    border-radius: 50px
}

.right-sidebar #settings .setting-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px
}

.right-sidebar #settings .setting-list li {
    padding: 15px;
    position: relative;
    border-top: 1px solid #eee
}

.right-sidebar #settings .setting-list li .switch {
    position: absolute;
    top: 15px;
    right: 5px
}

.right-sidebar .nav-tabs li.active > a, .right-sidebar .nav-tabs li.active > a:hover, .right-sidebar .nav-tabs li.active > a:focus {
    border-bottom-color: #ddd;
}
/*
.inlineblock, .navbar-header, .navbar-nav.navbar-left, .navbar-nav.navbar-right, .navbar-nav.navbar-left>li, .navbar-nav.navbar-right>li, .navbar-nav>li>a, .sidebar, .right-sidebar .choose-skin li div, .right-sidebar #chat .right_chat ul .media .message, .right-sidebar #chat .right_chat ul .media .status, .card .header .header-dropdown li, .dropdown-menu ul.menu .icon-circle, .dropdown-menu ul.menu .menu-info, .chat-widget .chat-scroll-list li.left .chat-info, .chat-widget .chat-scroll-list li.right .chat-info, .member-card .social-links li {
    display: inline-block;
}

.right-sidebar .nav-tabs>li>a {
    border: none !important;
    color: #999 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none !important;
}

.right-sidebar .nav-tabs .nav-item.active .nav-link {
    border-bottom: 1px solid #207afe !important;
    color: #207afe !important;
}
*/
.right-sidebar h6 {
  text-transform: capitalize;
  padding: 10px;
  margin-top: 20px;
}

.choose-skin-1 {
    padding: 0px 10px;
    list-style: none;
}

.menu-buttons .btn-default {
    background: transparent;
    border: none;
    box-shadow: none;
    left: 0px;
    margin-left: 10px;
}

.menu-buttons {
    margin: -2px -20px 0px -20px;
    background: #efefef;
    padding: 3px 9px;
    /* text-align: right; */
}



.img-item-in .tool {
    font-size: 25px;
    position: relative;
    top: 7px;
}


.modal-backdrop {
    z-index: 9999;
}

.modal-open .modal {
    z-index: 99999;
}

.project-list > li:nth-child(even) a {
    background: #f7f7f7;
}

.project-list > li a:hover {
    color: #555;
    background-color: #def3ff;
}

.tools-sidebar .panel-body.card-block.card-body {
    min-height: 325px;
}

.tools-sidebar > accordion.panel-group {
    margin-bottom: 0px;
}

.droppable-for-lines.dndDragover {
    z-index: 4;
}