
<div class="slimScrollDiv">
    <h6>Enter Resources Details below</h6>
    <ul class="choose-skin-1">
        <li>
            <form name="form-resource" id="form-resource" [formGroup]="resLimitForm" novalidate>
                <div class="form-group">
                    <label for="requestInMillicores">Request In Millicores</label>
                    <input type="text" class="form-control" name="requestInMillicores" id="requestInMillicores" formControlName="requestInMillicores" aria-describedby="Request In Millicores" placeholder="Request In Millicores">
                </div>
                <div class="form-group">
                    <label for="limitInMillicores">Limit In Millicores</label>
                    <input type="text" class="form-control" name="limitInMillicores" id="limitInMillicores" formControlName="limitInMillicores" aria-describedby="Limit In Millicores" placeholder="Limit In Millicores">
                </div>
                <div class="form-group">
                    <label for="requestInMiB">Request In MiB</label>
                    <input type="text" class="form-control" name="requestInMiB" id="requestInMiB" formControlName="requestInMiB" aria-describedby="Request In MiB" placeholder="Request In MiB">
                </div>
                <div class="form-group">
                    <label for="limitInMiB">Limit In MiB</label>
                    <input type="text" class="form-control" name="limitInMiB" id="limitInMiB" formControlName="limitInMiB" aria-describedby="Limit In MiB" placeholder="Limit In MiB">
                </div>
            </form>
        </li>
    </ul>
</div>
